:root {
  --negro: #202020;
  --tipo-principal: "Avenir", Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #f9f9f9;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
blockquote,
i,
b,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: #f9f9f9;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  line-height: 1.4em;
}

@keyframes rebote {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-3.5px);
  }
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirLTStd-Roman.otf);
}
@font-face {
  font-family: "Avenir-Black";
  src: url(/assets/fonts/AvenirLTStd-Black.otf);
}
body {
  font-weight: 400;
  color: silver;
  background-color: #040714;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  background-color: transparent;
}
.header--sticky {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-color: #040714;
}
.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.65vw;
  padding: 0.7vw 2.7vw;
}
.header__btn {
  font-size: 1.15em;
  white-space: nowrap;
  padding: 0.8vw 1.15vw;
  cursor: pointer;
  letter-spacing: 0.5px;
  border-radius: 4px;
  transition: all 0.2s ease;
  border: 1px solid silver;
  color: #f9f9f9;
  background-color: rgba(0, 0, 0, 0.8);
}
.header__btn:hover {
  color: #040714;
  background-color: #f9f9f9;
}
.header__btn--sub {
  font-size: 1.15em;
  white-space: nowrap;
  padding: 0.9vw 1.05vw;
  cursor: pointer;
  letter-spacing: 0.5px;
  border-radius: 4px;
  transition: all 0.2s ease;
  color: #f9f9f9;
  background-color: #0063e5;
}
.header__btn--sub:hover {
  background-color: #006eff;
}
.header__img {
  width: 5.3vw;
  margin-left: 3.5vw;
}

.landing {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 108vh;
  background-image: url(/assets/landing.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}
.landing__texto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  position: relative;
  top: 8.3vw;
  width: 65%;
  text-align: center;
}
.landing__h1 {
  font-family: "Avenir-Black";
  font-size: 2.7em;
  margin-bottom: 0.6em;
  line-height: 3.5vw;
}
.landing__h4 {
  font-size: 1.5em;
  letter-spacing: 0.5px;
  margin-bottom: 1.75vw;
}
.landing__btn {
  font-size: 1.15em;
  white-space: nowrap;
  border-radius: 4px;
  padding: 1em 6em;
  letter-spacing: 0.5px;
  margin-bottom: 2vw;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #f9f9f9;
  background-color: #0063e5;
}
.landing__btn:hover {
  background-color: #006eff;
}
.landing__btn--bajar {
  position: relative;
  top: 11vw;
  animation: rebote 1.75s infinite;
}
.landing__p {
  font-size: 1.2em;
  line-height: 1.875vw;
  letter-spacing: 0.5px;
  margin-bottom: 1.1em;
  color: inherit;
}
.landing__span {
  font-size: 0.77em;
  line-height: 1.2vw;
  color: inherit;
}
.landing__img {
  width: 1.3vw;
}

.hero1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  min-height: 48vw;
  background-image: url(/assets/hero1.jpg);
  background-size: cover;
  background-position: top;
}
.hero1__texto {
  min-height: 21.5vw;
  width: 37vw;
  padding-left: 5vw;
}
.hero1__h1 {
  font-family: "Avenir-Black";
  font-size: 2.65em;
  letter-spacing: 0.5px;
  margin-bottom: 3.1vw;
}
.hero1__p {
  font-size: 1.2em;
  letter-spacing: 0.5px;
  line-height: 2vw;
  color: inherit;
}
.hero1__img {
  display: none;
}

.hero2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 48vw;
  padding: 5.6vw;
  padding-top: 6.6vw;
  text-align: center;
}
.hero2__h1 {
  font-family: "Avenir-Black";
  font-size: 2.65em;
  letter-spacing: 0.5px;
  margin-bottom: 3.4vw;
}
.hero2__p {
  font-size: 1.2em;
  margin-bottom: 1.4vw;
  color: inherit;
}

.columna {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  gap: 2vw;
  margin-top: 1.8vw;
}
.columna__img {
  margin-bottom: 1.4vw;
  width: 56.252vw;
}
.columna__h3 {
  font-family: "Avenir-Black";
  font-size: 1.7em;
  line-height: 2.5vw;
  letter-spacing: 0.5px;
  margin-bottom: 1.6vw;
}
.columna__p {
  font-size: 1.25em;
  line-height: 1.9vw;
  color: inherit;
}

.faq {
  padding: 8.9vw 5.6vw 5.6vw;
}
.faq__h2 {
  text-align: center;
  font-family: "Avenir-Black";
  font-size: 2.4em;
  margin-bottom: 3vw;
}
.faq__pregunta {
  margin-top: 1vw;
}
.faq__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1vw 1.3vw;
  width: 100%;
  background-color: #13151d;
}
.faq__span {
  font-size: 1.2em;
}
.faq__span--desplegable {
  font-size: 2.5em;
}
.faq__descripcion {
  padding: 0 1.3vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height, 0.25s ease-in-out;
  background-color: #13151d;
}
.faq__p {
  font-size: 1.2em;
  line-height: 1.6em;
  color: inherit;
}
.faq__li {
  list-style-type: inherit;
  margin: 1vw 2.5vw;
}
.faq__a {
  text-decoration: underline;
}

.abierto {
  padding: 0 1.3vw 1.3vw;
  max-height: 1400px;
}

.hero3 {
  padding: 5.6vw;
  text-align: center;
}
.hero3__h2 {
  font-family: "Avenir-Black";
  font-size: 2.35em;
  letter-spacing: 0.5px;
  margin-bottom: 2.6vw;
}
.hero3__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
}
.hero3__h3 {
  font-family: "Avenir-Black";
  font-size: 1.7em;
  letter-spacing: 0.5px;
  margin-top: 1.5vw;
  margin-bottom: 1.8vw;
}
.hero3__p {
  font-size: 1.1em;
  line-height: 1.8vw;
  color: inherit;
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  margin: 3.2vw 16.5vw 0;
  padding: 1.7vw 6vw 2.6vw;
}
.footer__img {
  width: 5vw;
  margin-bottom: 0.9vw;
}
.footer__img--globe {
  width: 1vw;
  height: 1vw;
}
.footer__img--dropdown {
  width: 0.8vw;
}
.footer__ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0.5vw;
  margin-bottom: 1vw;
}
.footer__li {
  display: flex;
  align-items: center;
}
.footer__select {
  font-size: 0.75em;
  padding: 0.3vw 0.4vw;
  color: inherit;
}
.footer__select:hover {
  text-decoration: underline;
  color: #f9f9f9;
}
.footer__a {
  font-size: 0.75em;
  padding: 0.3vw 0.8vw;
  color: inherit;
}
.footer__a:hover {
  color: #f9f9f9;
}
.footer__p {
  font-size: 0.75em;
  color: inherit;
}

option {
  color: black;
}

@media (max-width: 1024px) {
  .header__btn {
    font-size: 1em;
    padding: 1vw 1.15vw;
  }
  .header__btn--sub {
    font-size: 1em;
    padding: 1.15vw 1.05vw;
  }
  .header__img {
    width: 8vw;
    margin-left: 6vw;
  }
  .landing {
    min-height: 70vh;
  }
  .landing__h1 {
    font-size: 1.7em;
  }
  .landing__h4 {
    font-size: 1.2em;
  }
  .landing__btn {
    font-size: 1em;
  }
  .landing__btn--bajar {
    top: 15vw;
  }
  .landing__p {
    font-size: 1em;
    line-height: 28px;
  }
  .landing__span {
    line-height: 18px;
  }
  .hero1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
  }
  .hero1__texto {
    position: relative;
    top: 9vw;
    width: 45vw;
  }
  .hero1__h1 {
    font-size: 1.8em;
  }
  .hero1__p {
    font-size: 1em;
    line-height: 28px;
  }
  .hero2 {
    padding-top: 11vw;
  }
  .hero2__h1 {
    font-size: 1.8em;
  }
  .columna__h3 {
    font-size: 1.5em;
    line-height: 35px;
  }
  .columna__p {
    font-size: 1em;
    line-height: 28px;
  }
  .faq {
    padding: 20vw 5.6vw 5.6vw;
  }
  .faq__h2 {
    font-size: 1.7em;
  }
  .faq__span {
    font-size: 1em;
  }
  .faq__p {
    font-size: 1em;
  }
  .hero3 {
    padding: 15vw 5.6vw 5.6vw;
  }
  .hero3__h2 {
    font-size: 1.7em;
  }
  .hero3__h3 {
    font-size: 1.5em;
  }
  .hero3__p {
    font-size: 0.9em;
    line-height: 28px;
  }
  .footer {
    margin: 3.2vw 10.5vw 0;
    padding: 10vw 0vw 2.6vw;
  }
  .footer__img {
    width: 8vw;
  }
}
@media (max-width: 768px) {
  .header__ul {
    padding: 2vw 2.7vw;
  }
  .landing {
    min-height: 90vh;
    background-position: 50%;
    background-size: cover;
    background-image: url(/assets/landingMovil.jpg);
  }
  .landing__h1 {
    font-size: 1.7em;
  }
  .landing__h4 {
    font-size: 1.2em;
  }
  .landing__btn {
    font-size: 1em;
  }
  .landing__btn--bajar {
    top: 25vw;
  }
  .landing__p {
    font-size: 1em;
    line-height: 28px;
  }
  .landing__span {
    line-height: 18px;
  }
  .hero1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    background-image: none;
  }
  .hero1__texto {
    top: 0;
    padding: 0;
    text-align: center;
    width: 90vw;
  }
  .hero1__img {
    display: inherit;
  }
  .hero2 {
    padding-top: 25vw;
  }
  .hero2__p {
    margin-bottom: 10vw;
  }
  .columna {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    margin-top: 12vw;
  }
  .columna__img {
    width: 100%;
    height: 150px;
    margin-bottom: 2vw;
  }
  .columna__p {
    margin-bottom: 2vw;
  }
  .hero3__ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
  }
  .hero3__img {
    width: 340px;
  }
  .footer {
    min-height: 37vw;
    margin: 0 7.5vw 0;
    padding: 10vw 0vw 2.6vw;
  }
  .footer__img {
    width: 8vw;
  }
}
@media (max-width: 479px) {
  .header__ul {
    gap: 2.7vw;
  }
  .header__btn {
    padding: 2.7vw 2.5vw;
    font-size: 0.8em;
  }
  .header__btn--sub {
    padding: 2.7vw 2.5vw;
    font-size: 0.8em;
  }
  .header__img {
    width: 15vw;
  }
  .landing {
    min-height: 70vh;
    background-position: 50%;
    background-size: cover;
    background-image: url(/assets/landingMovil.jpg);
  }
  .landing__texto {
    width: 89%;
  }
  .landing__h1 {
    font-size: 1.5em;
    line-height: 36px;
  }
  .landing__h4 {
    font-size: 1em;
    margin-bottom: 20px;
  }
  .landing__btn--bajar {
    display: none;
  }
  .landing__p {
    font-size: 0.95em;
    margin-top: 20px;
    line-height: 28px;
  }
  .hero1__p {
    margin: 8vw 0 10vw;
  }
  .hero2__p {
    margin: 8vw 0 15vw;
    font-size: 1em;
  }
  .columna__img {
    width: 100%;
    height: 80px;
    margin-bottom: 2vw;
  }
  .columna__p {
    margin-bottom: 5vw;
  }
  .faq__pregunta {
    margin-top: 3vw;
  }
  .faq__btn {
    padding: 3vw 4vw;
  }
  .faq__span {
    font-size: 1em;
  }
  .faq__descripcion {
    padding: 0 5vw;
  }
  .abierto {
    padding-bottom: 3vw;
  }
  .hero3__img {
    width: 200px;
  }
  .footer {
    min-height: 60vw;
    margin: 0 7.5vw 0;
    padding: 10vw 0vw 2.6vw;
  }
  .footer__img {
    width: 15vw;
    margin-bottom: 3vw;
  }
  .footer__img--globe {
    display: none;
  }
  .footer__img--dropdown {
    display: none;
  }
  .footer__select {
    font-size: 0.7em;
  }
  .footer__a {
    font-size: 0.7em;
    padding: 0 4vw;
  }
  .footer__p {
    font-size: 0.65em;
  }
}/*# sourceMappingURL=app.css.map */